.ugallery {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header {
    padding: 10px;
    display: flex;
  }

  &__content {
    padding: 0 10px;
    min-height: calc(100vh - 52px);
    display: flex;
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    text-decoration: none;

    &:visited {
      color: inherit;
    }

    &-icon {
      margin-right: 10px;
    }

    &-title {
      font-size: 18px;
      text-transform: uppercase;
    }
  }

  &__error-msg {
    margin: auto;
    font-size: 24px;
    text-align: center;
  }
}


