.ugallery {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header {
    padding: 10px;
  }

  &__logo {
    display: flex;
    align-items: center;

    &-icon {
      margin-right: 10px;
    }

    &-title {
      font-size: 18px;
      text-transform: uppercase;
    }
  }
}


